body {
	margin: 0;
	padding: 0
}
.wrap {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

#sidebar {
	background-color: rgb(237, 109, 82);
}

#main-page {
	background-color: rgb(51, 51, 51);
}

#prod-wrap {
	height: 100vh;
	margin: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr;
}

.prod {
	margin: 15px;
	background-color: white;
}
