html {
	font-family: Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.wrap {
	margin: 100px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 24px;
	color: #000000
}

thead td {
	background: #dddddd;
	font-weight: 900;
	border-color: #808080;
}

td {
	border: 1px solid #aaaaaa;
	width: 200px;
	padding: 16px;
}
